:root {
	--gold: #ffd700;
	--light-gray: #eee;
	--dark-gray: #1e1e1e;
	--black: #000;
	--white: #fff;
}

* {
	box-sizing: border-box;
}

/* Font Styles */
/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/poppins-v21-latin-100.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-100.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-100.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-100.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/poppins-v21-latin-100italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-100italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-100italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-100italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-100italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/poppins-v21-latin-200.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-200.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-200.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/poppins-v21-latin-200italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-200italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-200italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-200italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-200italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/poppins-v21-latin-300.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/poppins-v21-latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/poppins-v21-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/poppins-v21-latin-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/poppins-v21-latin-300italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('/fonts/poppins-v21-latin-300italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('/fonts/poppins-v21-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/poppins-v21-latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-500italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-500italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-600italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-600italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-700italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-700italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v21-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/poppins-v21-latin-800italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-800italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-800italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/poppins-v21-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v21-latin-900italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v21-latin-900italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/poppins-v21-latin-900italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/poppins-v21-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
	max-width: 768px;
	margin: 0 auto;
	background-color: var(--black);
	font-family: Poppins, sans-serif;
}

.hide {
	display: hidden;
}

.flex {
	display: flex;
}

.container {
	padding: 1rem;
	background-color: var(--white);
}

p {
	line-height: 1.5rem;
	font-weight: 400;
}

a {
	color: #0000ff;
}

header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	background-color: var(--black);
	border-radius: .25rem;
	border: 1px solid var(--black);
	flex-direction: column;
}

.header-container {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
	padding: .75rem 1rem;
	color: var(--white);
	background-color: var(--black);
	border: 2px solid var(--black);
	border-radius: .25rem;
	text-decoration: none;
	font-weight: 500;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.logo img {
	margin-right: .5rem;
	width: 20px;
}

.menu-icon {
	border: 2px solid var(--black);
  background-color: var(--black);
  border-radius: .25rem;
  width: auto;
  display: flex;
  align-items: center;
  padding: .25rem 1rem;
  color: #fff;
}

.menu-icon img {
	width: 18px;
}

#x-nav-icon {
	display: none;
}

#nav {
	display: none;
}

nav {
	padding: 1rem;
	position: relative;
	width: 100%;
	display: flex;
  justify-content: flex-end;
}

nav hr {
	position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin: 0 1rem;
  border: none;
  height: 1px;
  background-color: var(--white);
}

.nav-svg {
	width: 175px;
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}

nav ul {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin: .5rem 0;
}

nav a {
	color: var(--white);
	display: flex;
	align-items: center;
	gap: .5rem;
	justify-content: end;
}

.nav-list li:first-of-type a {
	color: var(--gold);
	font-weight: 400;
}

.nav-icon-svg {
	width: 18px;
}

.nav-icon-svg-2 {
	height: 16px;
}

main {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section {
	padding: 4rem;
	border-radius: .25rem;
	border: 1px solid var(--black);
}

.section-intro {
	background-color: var(--gold);
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	overflow: hidden;
}

h1 {
	font-size: 2.25rem;
	color: var(--black);
	display: flex;
	flex-direction: column;
	font-weight: 700;
}

h1 span {
	font-size: 1.25rem;
	font-weight: 400;
	font-style: italic;
}

.section-intro img:nth-of-type(1) {
	width: 100px;
}

.section-intro img:nth-of-type(2) {
	width: 250px;
	position: absolute;
	right: 4rem;
	bottom: 0;
}

.section-login {
	background-color: var(--light-gray);
}

.heading-icon-1 {
	margin-right: .5rem;
}

h2 {
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--black);
	padding-bottom: .75rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

form {
	display: flex;
	gap: .5rem;
	justify-content: space-between;
	margin: 0 auto;
	font-family: Poppins, sans-serif;
	font-size: 14px;
}

.section-login label {
	display: flex;
	align-items: center;
}

form img {
	width: 14px;
	height: auto;
}

input {
	width: 100%;
	padding: .75rem;
	border-radius: .25rem;
	border: 1px solid #000;
	font-family: Poppins, sans-serif;
	font-size: 14px;
}

.login-btn, .btn-signup {
	padding: .5rem 1.25rem;
	background-color: #000;
	color: #fff;
	border-radius: .25rem;
	border: 1px solid var(--black);
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-family: Poppins, sans-serif;
}

.btn-signup {
	background-color: var(--gold);
	color: var(--black);
}

.section-how-it-works {
	width: calc(100% + 2rem);
  margin-left: -1rem;
  border: none;
  border-radius: 0;
  background-color: black;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.section-how-it-works h2 {
	color: var(--white);
	border-bottom: 1px solid var(--white);
	padding-bottom: .75rem;
	margin-bottom: 0;
}

.section-how-it-works img:first-of-type {
	margin-right: .5rem;
}

.step-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.step-card {
	position: relative;
}

.step-card-container {
	padding: 2rem 3rem;
	background-color: var(--white);
	border-radius: .25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	min-height: 200px;
	position: relative;
}

.step-card-expanded-container {
	padding: 0rem 3rem 6rem 3rem;
	background-color: var(--white);
	border-radius: 0 0 .25rem .25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	min-height: 200px;
	position: relative;
	min-height: auto;
	display: none;
}

.step-card h3 {
	line-height: 1.5rem;
	font-weight: 500;
}

.curved-svg {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 100%;
}

.section-how-it-works .btn {
	padding: 1rem 1.5rem;
	background-color: var(--gold);
	color: #000;
	border-radius: .25rem;
	border: 1px solid var(--black);
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-family: Poppins, sans-serif;
}

.step-copy-wrapper {
	display: flex;
	flex-direction: column;
}

.step-copy-wrapper h3 {
	margin-bottom: .5rem;
}

.step-copy-wrapper span {
	display: flex;
}

.step-link {
	text-decoration: underline;
	color: #0000ff;
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
	font-family: Poppins, sans-serif;
	font-size: 15px;
	justify-content: flex-start;
  align-self: flex-start;
  white-space: nowrap;
}

.step-copy-wrapper img {
	max-width: 20px;
	vertical-align: middle;
}

.step-card:nth-of-type(3) .step-copy-wrapper .step-link img {
	max-width: 16px;
}

.plus-icon {
	width: 12px;
	margin-left: .5rem;
}

.minus-icon {
	display: none;
	margin-left: .5rem;
	width: 12px;
}

footer p {
	text-align: center;
}